/* Market Order */

.checkbox {
    display: flex;
    accent-color: limegreen;
}
.checkboxContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 5%;
}
.selectChainOrder{
  width: 100%;
  background-color: #202020;
  color: white;
  margin-bottom: 10%;
  font-size: 1.25em
}
.input {
  width: 70%;
  margin: 10% auto;
  background-color: #202020;
  color: #909090;
  text-align: center;
  font-size: 1.2em
}
.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
    padding: 5%;
    width: 100%;
  }
.buyButton {
    background-color: green;
    color: black;
    height: 40px;
    width: 80px;
    border: solid 3px black;
    border-radius: 0.5rem;
  }
.sellButton {
    background-color: red;
    color: black;
    height: 40px;
    width: 80px;
    border: solid 3px black;
    border-radius: 0.5rem;
  }
  .checkboxes{
    width: 90%;
    flex: flex-start;
    text-align: left;
  }
  .cog {
    color: #51586f;
    transition: 0.3s;
  }
  
  .cog:hover {
    color: white;
    rotate: 90deg;
    cursor: pointer;
  }
  
  .table {
    border-collapse: collapse;
    width: 80%;
    float: left;
    font-size: .93m;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);
  }
  .table thead tr {
    background-color: black;
    color: lime;
    text-align: left;
    border-bottom: 3px solid lime;
}
.table th,
.table td {
    border-right: 1px solid #606060;
    border-left: 1px solid #606060;
}


.table tbody tr {
  border-bottom: 1px solid black;
  color: #F9F6EE;
  background-color: #202020;
}

.table tbody tr:nth-of-type(even) {
  background-color: #101010;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}
.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.table tbody tr:hover {
  background-color: black;
  color: #F9F6EE; /* Adjust text color as needed */
}
.transactionPageButtons{
  margin: 0px auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}
.pageNumbers{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.pageNumber:hover{
  cursor: pointer;
}

.pageInput{
  width: 20%;
  text-align: center;
  background-color: #202020;
  color: #F9F6EE;
}
.pageInput[type="number"]::-webkit-inner-spin-button,
.pageInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pageInput[type="number"] {
  -moz-appearance: textfield;
}
.pageButtons{
  background-color: lime;
  color: black;
  border: 3px solid black;
  border-radius: .5em;
}

